<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date [%-10.10thread] %-5level [%-50.50logger{50}] - %msg%n</pattern>
        </encoder>
    </appender>
    
<!--    <appender name="stash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">-->
<!--        <destination>127.0.0.1:5044</destination>-->
<!--        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />-->
<!--    </appender>-->

    <root level="INFO">
        <appender-ref ref="STDOUT" />
<!--        <appender-ref ref="stash" />-->
    </root>
</configuration>